body {
	background-color:#363638;
}

/* This sections designates the fonts for the page*/
#header .title,  #header .tagline, #nav, .content p.entry-title, .content p.date {
	font-family: 'Share Tech', sans-serif;
}

.content p  {
	font-family: Tahoma;
}


/*Below deesignates the styles for each of the HTML items */

#container {
	width:1200px;
	margin: 0 auto;
	background-color:#EDE5CD;
	height:100%;
}

#nav {
	width: 1200px;
	margin: 0 auto;
	background-color:#FF7F50;
	height: 60px;
	padding: 0px;
	margin-bottom: 20px;
}

#nav ul {
	list-style:none;
	margin-left:60px;
}

#nav li a {
	float: left;
	color: #F0DBC3;
	font-size: 20px;
	text-decoration:none;
	padding-left: 115px;
	padding-right: 100px;
	margin-top:20px;
}


#header {
	height: 100px;
	text-align: left;
	padding: 0px;
	margin-left:60px;
}

#header .title {
	font-size:50px;
	color:#CC6438;
	text-align: center;
	margin-bottom: 10px;
}

#header .tagline {
	font-size:28px;
	color:#784C3E; 
	margin-bottom:5px;
}

.content {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 40px;
}

.content p.entry-title {
	font-size: 30px;
	color: #3D5771; 
	margin-bottom: 10px;
	margin-top: 60px;
	margin-left:5px;
}

.content p.date {
	font-size: 20px;
	color: #5B798A; 
	margin-bottom: 20px;
	margin-top: 5px;
	margin-left:5px;
}

.content p {
	font-size:16px;
	line-height: 24px;
	color: #565656;
	margin-left: 5px;
	margin-right: 20px;
}

.content i {
    font-style: italic;
} 

.content img.displayed {
	position:relative;
	margin-top: 20px;	
}

#footer {
	margin: 0 auto;
	height: 60px;
	width: 1200px;
	background-color:#FF7F50;
}